---
import FileSize from "./FileSize.astro";
import Icon from "./Icon.astro";
import Link from "./Link.astro";

interface Props {
  size?: number;
  text?: string;
  link?: string;
}

const { size, text, link } = Astro.props;
---

{
  link ? (
    <Link href={link}>
      <div class="box">
        <Icon icon={["solid", "download"]} />{" "}
        <span>{text || "Download"}</span>
        {size && (
          <span>
            {" "}
            (<FileSize bytes={size} />)
          </span>
        )}
      </div>
    </Link>
  ) : (
    <div class="box">
      <em>{text || "Download nicht verfügbar"}</em>
      {size && (
        <>
          {" "}
          (<FileSize bytes={size} />)
        </>
      )}
    </div>
  )
}
<style>
  .box {
    text-align: center;
    margin-top: 1em;
    padding: 0.5em auto;
    background-color: rgb(53, 90, 82);
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 1em;
    user-select: none;
  }
</style>
